.saep__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8.125rem;
  position: relative;
}

.saep__navbar-links {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 8.125rem;
  background: rgba(11, 13, 18, 0.75);
  backdrop-filter: blur(40px);
  z-index: 999;
}

.saep__navbar-links_logo {
  margin-right: 2rem;
}

.saep__navbar-links_logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saep__navbar-links_logo img {
  width: 32px;
  height: 32px;
}

.saep__navbar-links_logo p {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  color: #fff;
  margin-left: 8px;
}

.saep__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.saep__navbar-links_container p,
.saep__navbar-bottom_menu-links p {
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 700;
  color: #fff;
  margin: 0 1rem;
}

.saep__navbar-bottom {
  display: none;
}

@media screen and (max-width: 1024px) {
  .saep__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .full-pages {
    height: 100vh;
    padding: 0;
    overflow: hidden;
  }

  .normal {
    height: 60px;
    padding: 0 15px;
  }

  .saep__navbar {
    padding: 0;
  }

  .saep__navbar-links {
    display: none;
  }

  .saep__navbar-bottom {
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(11, 13, 18, 0.75);
    backdrop-filter: blur(40px);
  }

  .saep__navbar-bottom_logo img {
    width: 32px;
    height: 32px;
  }

  .saep__navbar-bottom_email {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .saep__navbar-bottom_email a {
    display: flex;
    align-items: center;
  }

  .wrap__email {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .saep__navbar-bottom_email a .email-icon-text {
    font-size: 12px;
    font-family: var(--font-family);
    color: #fff;
    margin-left: 4px;
  }

  .saep__navbar-bottom_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .saep__navbar-bottom_menu .wrap__button__hamburger {
    display: flex;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .saep__navbar-bottom_menu .wrap__button__hamburger .wrap__hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .saep__navbar-bottom_menu .hamburger-icon {
    display: flex;
    width: 10px;
    height: 10px;
  }

  .saep__navbar-bottom_menu .hamburger-icon-text {
    font-size: 12px;
    font-family: var(--font-family);
    color: #fff;
    margin-left: 4px;
  }

  .saep__navbar-bottom_menu-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
  }

  .saep__navbar-bottom_menu-links p {
    margin-top: 30px;
    text-align: center;
  }

  .saep__navbar-bottom_menu-close {
    margin-top: 30px;
  }

  .saep__navbar-bottom_menu-profile img {
    width: 100px;
    height: 100px;
  }

  .saep__navbar-bottom_menu-profile a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .saep__navbar-bottom_menu-profile p {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
    color: #a3b3bc;
    text-align: center;
    margin-top: 8px;
  }

  .saep__navbar-bottom_menu-close button {
    display: flex;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .circle__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #fff;
  }
}
