.saep__modals {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 8.125rem;
}

.saep__modals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1180px;
  height: 632px;
  background: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(20px);
}

.saep__modals-heading {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 40px;
}

.saep__modals-benefit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .saep__modals {
    padding: 8rem 4rem;
  }

  .saep__modals-heading {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .saep__modals {
    flex-direction: column;
    padding: 4rem 1rem;
  }

  .saep__modals-container {
    width: 100%;
    height: 750px;
  }

  .saep__modals-benefit {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .saep__modals {
    padding: 2rem 1rem;
  }

  .saep__modals-heading {
    font-size: 16px;
  }
}
