@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(90deg, #b429f9 0%, #26c5f3 100%);
  --color-bg: #040c18;
  --color-button: #af30f9;
}
