.saep__header {
  display: flex;
  flex-direction: row;
}

.saep__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.saep__header-content .heading__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
}

.saep__header-content h1 {
  font-size: 46px;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 63px;
}

.saep__header-content .description__text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-top: 12px;
}

.saep__header-content__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.saep__header-content__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.saep__header-content__button .mail-icon {
  margin-right: 4px;
}

.saep__header-content__button p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--font-family);
  margin-left: 20px;
}

.saep__header-content__button .download-icon {
  margin-right: 4px;
}

.saep__header-content__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .saep__header {
    flex-direction: column;
  }

  .saep__header-content {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .saep__header-content .description__text {
    text-align: center;
  }

  .saep__header-content__image {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .saep__header {
    justify-content: center;
    align-items: center;
  }

  .saep__header-content .heading__text {
    font-size: 24px;
  }

  .saep__header-content h1 {
    font-size: 40px;
  }

  .saep__header-content .description__text {
    font-size: 12px;
    margin: 0;
  }
}
