.saep__header {
  display: flex;
  flex-direction: row;
  padding: 4rem 8.125rem;
  margin: 60px 0;
}

.saep__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.saep__header-content .heading__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #fff;
}

.saep__header-content .main__text {
  font-size: 46px;
  font-family: var(--font-family);
  font-weight: 800;
}

.saep__header-content .description__text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 22px;
  color: #a3b3bc;
  margin-top: 12px;
}

.saep__header-content__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.saep__header-content__button .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: var(--color-button);
  font-family: var(--font-family);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.wrap__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mail-icon {
  display: flex;
  width: 17px;
  height: 12px;
}

.saep__header-content__button .button .mail-icon {
  margin-right: 4px;
}

.saep__header-content__button p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a3b3bc;
  font-family: var(--font-family);
  margin-left: 20px;
}

.wrap__download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.download-icon {
  display: flex;
  width: 15px;
  height: 15px;
}

.saep__header-content__button .download-icon {
  margin-right: 4px;
}

.saep__header-content__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .saep__header {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .saep__header {
    flex-direction: column;
    padding: 4rem 1rem;
  }

  .saep__header-content {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .saep__header-content .heading__text {
    text-align: center;
  }

  .saep__header-content .main__text {
    text-align: center;
  }

  .saep__header-content .description__text {
    text-align: center;
  }

  .saep__header-content__image {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .saep__header {
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }

  .saep__header-content .heading__text {
    font-size: 24px;
  }

  .saep__header-content .main__text {
    font-size: 40px;
  }

  .saep__header-content .description__text {
    font-size: 12px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .saep__header-content .description__text {
    font-size: 10px;
  }
}
